<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title>
      My Test
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <form [formGroup]="testForm" (ngSubmit)="CreateRecord()">
    <ion-title>
      Respuesta afirmativa: 1
    </ion-title>
    <ion-title>
      Respuesta negativa: 0
    </ion-title>
    <br>
    <ion-label>¿Tienes sensación de falta de aire de inicio brusco (en ausencia de cualquier otra patología que justifique este síntoma)?</ion-label>
    <ion-item>
      <ion-input formControlName="Q1"></ion-input>
    </ion-item>
    <br>
    <br>
    <ion-label>¿Tienes fiebre? (+37.7ºC)</ion-label>
    <ion-item>
      <ion-input formControlName="Q2"></ion-input>
    </ion-item>
    <br>
    <br>

    <ion-label>¿Tienes tos seca y persistente?</ion-label>
    <ion-item>
      <ion-input formControlName="Q3"></ion-input>
    </ion-item>
    <br>
    <br>

    <ion-label>¿Has tenido contacto estrecho con algún paciente positivo confirmado?</ion-label>
    <ion-item>
      <ion-input formControlName="Q4"></ion-input>
    </ion-item>
    <br>
    <br>

    <ion-label>¿Llevas más de 20 días con estos síntomas?</ion-label>
    <ion-item>
      <ion-input formControlName="Q5"></ion-input>
    </ion-item>
    <br>
    <br>


    <ion-item>
      <ion-button (click)="CreateRecord()" [disabled]="testForm.invalid">
        <ion-icon size="small" slot="icon-only" name="add"></ion-icon>
        &nbsp;Create Record
      </ion-button>
    </ion-item>

  </form>


  <ion-card *ngFor="let item of testList" color="primary">
    <span *ngIf="!item.isEdit; else elseBlock">

      <ion-card-header>
        <ion-card-title>Suma los siguientes puntajes, si el resultado es mayor a 30 entonces es posible que estes contagiado.</ion-card-title>
        <ion-card-subtitle>{{item.Q1 === '1' ? '60' : '0'}}</ion-card-subtitle>
        <ion-card-subtitle>{{item.Q2 === '1' ? '15' : '0'}}</ion-card-subtitle>
        <ion-card-subtitle>{{item.Q3 === '1' ? '15' : '0'}}</ion-card-subtitle>
        <ion-card-subtitle>{{item.Q4 === '1' ? '29' : '0'}}</ion-card-subtitle>
        <ion-card-subtitle>{{item.Q5 === '1' ? '-15' : '0'}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
      
        <ion-button shape="round" color="secondary" size="small" (click)="EditRecord(item)">
          <ion-icon size="small" slot="icon-only" name="create"></ion-icon>

        </ion-button>
        <ion-button shape="round" color="danger" size="small" (click)="RemoveRecord(item.id)">
          <ion-icon size="small" slot="icon-only" name="trash"></ion-icon>

        </ion-button>
      </ion-card-content>
    </span>
    <ng-template #elseBlock>
      <ion-card-header>
        <ion-card-title>
          <ion-grid>
            <ion-row>
              <ion-col>
                Edit
              </ion-col>
              <ion-col>
                <ion-button fill="solid" color="medium" size="small" (click)="item.isEdit = false">
                  Cancel
                </ion-button>
              </ion-col>
              <ion-col>
                <ion-button fill="solid" color="success" size="small" (click)="UpdateRecord(item)">
                  Update
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label><strong>¿Tienes sensación de falta de aire de inicio brusco (en ausencia de cualquier otra patología que justifique este síntoma)?</strong></ion-label>
          <ion-input type="text" [(ngModel)]="item.EditQ1"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label><strong>¿Tienes fiebre?</strong></ion-label>
          <ion-input type="text" [(ngModel)]="item.EditQ2"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label><strong>¿Tienes tos seca y persistente?</strong></ion-label>
          <ion-input type="text" [(ngModel)]="item.EditQ3"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label><strong>¿Has tenido contacto estrecho con algún paciente positivo confirmado?</strong></ion-label>
          <ion-input type="text" [(ngModel)]="item.EditQ4"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label><strong>¿Llevas más de 20 días con estos síntomas?</strong></ion-label>
          <ion-input type="text" [(ngModel)]="item.EditQ5"></ion-input>
        </ion-item>

      </ion-card-content>
    </ng-template>
  </ion-card>

</ion-content>
